
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

		<meta charset="UTF-8">
		<title>MotherBoxxLogin</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="./css/motherBoxx.css" rel="stylesheet">
		<!-- Latest compiled and minified JavaScript -->
		<script src="node_modules/angular/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="js/util/constants.js"></script>
		<script src="js/controller/LoginController.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
						<div ng-controller="MenuController" layout="column" style="height:500px;" ng-cloak>
							<section layout="row" flex>
								<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
									<md-toolbar class="md-theme-indigo">
										<h1 class="md-toolbar-tools">Sidenav Left</h1>
									</md-toolbar>
									<md-content layout-padding ng-controller="LeftMenuController">
										<md-button ng-click="close()" class="md-primary" hide-gt-md>
											Close Sidenav Left
										</md-button>
										<p hide-md show-gt-md>
											This sidenav is locked open on your device. To go back to the default behavior,
											narrow your display.
										</p>
									</md-content>
								</md-sidenav>
								<md-content flex layout-padding>
									<div layout="column" layout-fill layout-align="top center">
										<p>
											The left sidenav will 'lock open' on a medium (>=960px wide) device.
										</p>
										<p>
											The right sidenav will focus on a specific child element.
										</p>
										<div>
											<md-button ng-click="toggleLeft()"
													   class="md-primary" hide-gt-md>
												Toggle left
											</md-button>
										</div>
										<div>
											<md-button ng-click="toggleRight()"
													   ng-hide="isOpenRight()"
													   class="md-primary">
												Toggle right
											</md-button>
										</div>
									</div>
									<div flex></div>
								</md-content>
							</section>
						</div>
	</body>
</html>
