<div>   
    <input type="text" id="searchBar" name="searchBar" ng-model = "param"/>
    <button class="btn"  ng-click="searchIssues(key, param)">search!</button>
    <select ng-options="key for key in keys" ng-model="key">
    </select>
</div>
<span class="dateHeader">NEW COMICS FOR 05/26/2016</span>
<div class="content backgroundPale" id="test">
	<div ng-repeat="result in results">

        <div class="block backgroundWhite cf">
            <img class="bookImg" src={{result.image.thumb_url}}>
            <span class="comicTitle">{{result.name}}</span>
            <span class="previewText">{{result.description}}</span>
            <span id="rateHeader">RATE THIS BOOK</span>
            <ul class="rateList">
				<li><a class="rateButton"><img src="http://demo.brionsalazar.com/motherbox/images/ping01-u1678-fr.png"></a></li>
				<li><a class="rateButton"><img src="http://demo.brionsalazar.com/motherbox/images/ping02-u1681-fr.png"></a></li>
				<li><a class="rateButton"><img src="http://demo.brionsalazar.com/motherbox/images/ping03-u1684-fr.png"></a></li>
				<li><a class="rateButton"><img src="http://demo.brionsalazar.com/motherbox/images/ping04-layer%205.png"></a></li>
				<li><a class="rateButton"><img src="http://demo.brionsalazar.com/motherbox/images/ping05-u1690-fr.png"></a></li>
            </ul>
        </div>
    </div>
</div>