<form id="loginForm">
	<div class="loginInput">
		<input type="input" id="userName" placeholder="Email Address" class="input" ng-model="userName">
	</div>					
	<div class="loginInput">						
		<input type="password" name="Password" id="Password" placeholder="Password" class="input" ng-model="password">	
	</div>
	<div class="buttonWrapper">	
		<a href="" id="loginButton" class="button loginButton" ng-click="login(	userName, password)">Login</a>
		<a href="" id="registerButton" class="button registerButton" ng-click="helloLocation()">Register</a>
		<a href="" id="forgotPasswordLink" class="forgotPasswordLink" ng-click="hello()">Forgot Password?</a>	
		<a href="#/search" class="landingPageButton">Go to landing page </a>
	</div>				
</form>	