
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
    margin: 0;
}
.wrapper {
      margin: 0 auto;
      padding: 0;
}

.footer{ padding: 5px; }

/* Login content */
.button{width: 46%; display: block; text-align: center; padding: 2px 5px 2px 5px; border: 1px solid black; margin: 5px auto; text-decoration: none;color: white;}
.buttonWrapper{text-align: center; margin-top: 20px;}
#loginButton{background-color:deepskyblue;}
#registerButton{background-color:dodgerblue;}
.loginInput{ text-align: center; padding: 5px}
.forgotPasswordLink {font-size: 13px; width: 50%; display: block; text-align: center; margin: auto; text-decoration: none; color: white; padding-top: 5px;}
.loginInput > input{width: 50%; padding: 2px 5px 2px 5px; }

/*landing page*/
nav {
    width: 34%;
    padding: 0 25px 0 25px;
    background: black;
    position: fixed;
    top: 0;
    height: 50px;
    /* height: 100%; */
    margin: 0 0 0 -140px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
}

nav.menushow .menu-btn {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;

}

.menushow {
    margin: 0;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
}

nav ul {
    margin:60px 0 0 0;
}

nav li {
    margin-right: 10px;
}

nav a, menu-button a {
    color: black;
    font-size: 18px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding:10px 10px;
    display: block;
    -webkit-transition: .25s ease-in;
    -moz-transition: .25s ease-in;
    -o-transition: .25s ease-in;
    -ms-transition: .25s ease-in;
    transition: .25s ease-in;

}
.menu-btn a{
    color: white;
}

nav a:hover {
    background: rgba(255,255,255,.125);
}

.menu-btn {
    position: absolute;
    right:8px;
    top:8px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;

}

.menu-btn a {
    font-family: Arial;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    width:30px;
    height:30px;
    padding:3px;
}

.menu-btn a:hover {
    background: none;
}

article {
    padding:50px 10% 0 20%;
    margin: 0 auto;
    width:70%;
}
.navHeader{
	border: 1px black solid;
	padding: 10px 0px;
}
.navHeader > a{
	display: block;
	float: left;
	margin: 0px 2%;
	padding: 0px 5%;
}
.backgroundBlue {
    background: #23AACC;
}
.backgroundPale{
    background: #E4F0F0;
}
.backgroundWhite{
    background: white;
}
.backgroundBlack{
	background: black;
}
.content{
    padding: 5px;
}
.block{
	margin-top: 10px;
    padding: 10px 10px;
    border:  1px solid #E6C55C;
	position: relative;
}
.block:hover{
	background: #E6C55C;
}
.block .bookImg{
    float: left;
    max-width: 30%;
    height: 200px;
}
.block span{
	float: left;
	margin-left: 10px;
	width: 66%;
	padding-bottom: 5px;
}
.comicTitle{
	color: #C73230;
}
.block .rateHeader{
	font-weight: 700;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 35;
	width: 36%;
}
.rateList  {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: absolute;
	right: 0;
	bottom: 5;
}
.rateList li {
    float: left;
	padding: 0px 1px 0px 1px;

}
.rateList a{
    display: block;
}
.rateList .rate1:hover{
	content: url("img/PING03"); /* no need for qoutes */
	display: block;
}
.rateList img{
	height: 30px;
}
.header img{
    max-width: 50%;
    padding: 5px;
}
.dateHeader{
	background: black;
	padding: 5px 0px 5px 5px;
	color: white;
	font-weight: 700;
	display: block;
}
